<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Admins Add</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Admins Add</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="/admins/add" method="POST">
        Email:
        <br>
        <input type="text" name="email">
        <br> Password:
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit">
    </form>
</body>

</html>