<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Admins List</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Customize Admin</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/dishes">Home</a>
                </li>
                <li>
                    <a href="/chefs">chef</a>
                </li>
                <li>
                    <a href="/admins">admin</a>
                </li>
                <li>
                    <a href="login.html">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="fixed-action-btn">
        <a href='/admins/add' class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <table class="highlight">
        <thead>
            <tr>
                <th>email</th>
            </tr>
        </thead>

        <tbody>
            <% dataAdmins.forEach(dataAdmin =>{%>
                <tr>
                    <td>
                        <%= dataAdmin.email %>
                    </td>
                    <td>
                        <a href='/admins/<%= dataAdmin.id%>/delete' onclick="return confirm('are you sure want to delete this ADMIN?')">delete</a>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table>

</body>

</html>