<body>
    <form action="/dishes/add" method="POST">
        Description:
        <br>
        <input type="text" name="description">
        <br> Image:
        <br>
        <input type="text" name="image">
        <br> Price:
        <br>
        <input type="text" name="price">
        <br> Duration:
        <br>
        <input type="text" name="duration">
        <br>
        <br>
        <input type="submit">
    </form>
</body>